/*.col-sm{
    background-color: blue;
}
.col-lg{
    background-color: red;
}*/

.TextErrorInputSyntax{
    color:red;
    display: none;
}

.TextErrorInputSyntaxVisible{
    color:red;
    display: inline-block;
}